.content {
    background-color: var(--primary-bg-color);
    color: var(--primary-highlight);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.container {
    background-color: var(--primary-shadow);
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
}