#home {
  min-height: 100vh;
}

.top {
  position: sticky;
  top:0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-bg-color);
  color: var(--primary-highlight);
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  padding: 1em;
}

#tools {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.buttons button {
  width: 3.5em;
  height: 2.5em;
}

.buttons img {
  width: 100%;
}

input[type="search"] {
  height: 2.5em;
  border-radius: 8px;
  border: 0;
}

#navbar {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

#navbar button {
  border-radius: 0;
  flex: 1 0 auto;
}

#categories {
  display: flex;
  justify-content: space-evenly;
  min-width: 100%;
}

#clearBtn {
  display: block;
  margin: 0 auto;
}
