#home {
  min-height: 100vh;
}

#home .header {
  white-space: nowrap;
}

.top {
  position: sticky;
  top:0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-bg-color);
  color: var(--primary-highlight);
  box-sizing: border-box;
  width: 100%;
  min-height: 15%;
  padding: 0.5em;
}

#tools {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.buttons button {
  width: 3.5em;
  height: 2.5em;
}

.buttons img {
  padding: 0;
  width: 120%;
  margin-top: auto;
  margin-bottom: auto;
}

input, textarea {
  font-size: 1em;
  background-color: #f9f9f9;
  color: var(--primary-shadow);
  border: 0.05em solid gray;
  border-radius: 0.25em;
}

input[type="search"] {
  height: 2.5em;
  border: 0;
  border-radius: 0.5em;
}

#navbar {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

#navbar button {
  border-radius: 0;
  flex: 1 0 auto;
}

#categories {
  display: flex;
  justify-content: space-evenly;
  min-width: 100%;
}

#clearBtn {
  display: block;
  margin: 0 auto;
}

.info {
  color: var(--primary-bg-color);
  text-align: center;
}

@media screen and (max-width : 840px) {
  .header {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width : 420px) {
  h1 {
    font-size: 5vh;
  }
}